<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div th:switch="${usersList}">
    <h2 th:case="null">No users found</h2>
    <td th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Age</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${usersList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:each="role: ${user.roles}">
                        <p th:text="${role.name}"></p>
                    </a>
                </td>
                <td><a th:href="@{admin/updateUser/{id}(id=${user.id})}">Edit</a></td>

                <td th:switch="${user.isAdmin() and numOfAdmin == 1}">
                    <p th:case="${true}"><a>Cant delete last<br /> admin from DataBase</a></p>
<!--                    <p th:case="*"><a th:href="@{admin/deleteUser/{id}(id=${user.id})}" th:method="delete">Delete</a></p>-->
                    <p th:case="*">
                    <form action="#" th:action="@{admin/deleteUser/{id}(id=${user.id})}" th:method="delete" >
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit" id="submitButton" >Delete </button>
                    </form>
                    </p>

                </td>
            </tr>
            </tbody>
        </table>
</div>
<p><a href="/admin/addUser">Add user</a></p>
<br><br>
</div>
</body>
</html>